

@media print {
  #qr-card {
    width: 100%;
    height: auto;
    margin: 0 auto; /* Center the card horizontally */
  }
    .hide-on-print {
      display: none;
    }
    .qr-card {
      background: #D7B442 !important;
    }
    .qr-card img {
      display: block;
    }
  }
  